<div class="home">
    
    <button class="btn btn-primary" [routerLink]="'/shownotes'">Show Notes</button>
    <button class="btn btn-primary" [routerLink]="'/login'">Admin</button>
</div>

<!-- <br>
<br>

<div>
    <label for="selectedCountry">Select Country:</label>
    <select id="selectedCountry" [(ngModel)]="selectedCountry" (change)="onCountryChange()">
      <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
    </select>
  </div>
  
  <div>
    <label for="selectedState">Select State:</label>
    <select id="selectedState">
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>
  </div>
   -->