<div class="navbar">
    <div class="heading">
        <span class="material-symbols-outlined logo_icon">
            collections_bookmark
        </span>
        <P (click)="showAll()">My Collection</P>
    </div>
    <div class="searchBar">
        <span class="material-symbols-outlined search_icon">
            search
        </span>
        <input placeholder="Search by Country name" class="search_input" (keyup.enter)="onEnterPress($event)"
            [(ngModel)]="note.countryName">
    </div>
    <div class="home">
        <span class="material-symbols-outlined">
            home
        </span>
        <p [routerLink]="'/home'">Home</p>
    </div>
</div>
<div class="showResult">
    <p [hidden]="!showSearchResult"> No result found</p>
</div>
<div class="container">
    <div class="noteItems" *ngFor="let note of noteList">
        <div class="header">
            <div class="countryFlag">
                <img src="../assets/{{note.countryFlag}}" height="50">
            </div>
            <div class="details">
                <p>{{note.countryName}}</p>
                <p>{{note.denomination}} {{note.currencyName}}</p>
            </div>
        </div>
    

        <div class="noteImage">
            <img src="../assets/{{note.frontSide}}" height="135" width="345"><br><br>
            <img src="../assets/{{note.backside}}" height="135" width="345">
        </div>

        <div class="description">

            <p>{{note.description}}</p>
        </div>

    </div>

</div>
